body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #f00;
}

button {
	background: #000;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	display: inline-block;
}

i {
	color: #fff;
	font-size: 2rem;
}

button:hover {
	cursor: pointer;
}
